In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

First, we'll start with a list of country names, ISO-3166 2- and 3- letter codes.

In [2]:
countries =\
pd.read_csv('shared/data/country-codes/countries_codes_and_coordinates.csv')\
    .drop(columns=['Latitude (average)', 'Longitude (average)'])
# remove extraneous quotes
countries['Alpha-2 code'] = countries['Alpha-2 code'].apply(lambda x: x.split("\"")[1])
countries['Alpha-3 code'] = countries['Alpha-3 code'].apply(lambda x: x.split("\"")[1])
countries['Numeric code'] = countries['Numeric code'].apply(lambda x: x.split("\"")[1])

In [3]:
countries.head()

          Country Alpha-2 code Alpha-3 code Numeric code
0     Afghanistan           AF          AFG            4
1         Albania           AL          ALB            8
2         Algeria           DZ          DZA           12
3  American Samoa           AS          ASM           16
4         Andorra           AD          AND           20

In [4]:
len(countries)

257

## Merge layer4 (alexa rankings) in

In [5]:
home_bias = pd\
    .read_csv('home-bias/analysis/levenshtein_from_global_ranking-2019-11-04.csv')\
    .rename(columns={
        'country': 'Country',
        'levenshtein_from_global_ranking': 'layer4-alexa-rankings',
    })\
    .drop(columns=['Unnamed: 0'])

home_bias.columns

Index(['Country', 'layer4-alexa-rankings'], dtype='object')

In [6]:
# Manually fix country names
home_bias.loc[home_bias['Country']=='Laos', 'Country'] = "Lao People's Democratic Republic"
home_bias.iloc[86]

Country                  Lao People's Democratic Republic
layer4-alexa-rankings                                  47
Name: 86, dtype: object

In [7]:
layer4_merged =\
    countries.merge(home_bias, how='left')

layer4_merged.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,layer4-alexa-rankings
0,Afghanistan,AF,AFG,4,47.0
1,Albania,AL,ALB,8,46.0
2,Algeria,DZ,DZA,12,48.0
3,American Samoa,AS,ASM,16,NaN
4,Andorra,AD,AND,20,NaN

In [8]:
len(layer4_merged) #.groupby('Alpha-2 code').sum()

257

## Merge layer5 (data laws) in

In [9]:
data_laws = pd\
    .read_csv('data-locality-laws/analysis/categories-of-discrete-data-laws-on-books-2019-11-07.csv')\
    .rename(columns={'Discrete categories of data laws': 'layer5-discrete-categories-data-laws'})

data_laws.Country = data_laws.Country.apply(lambda x: x.capitalize())
data_laws.head()

     Country  layer5-discrete-categories-data-laws
0  Argentina                                    21
1  Australia                                    21
2    Austria                                    12
3    Belgium                                    12
4     Brazil                                    27

In [10]:
layer5_merged =\
    layer4_merged\
        .merge(data_laws, how='left')\

layer5_merged['layer5-discrete-categories-data-laws'] =\
    layer5_merged['layer5-discrete-categories-data-laws'].fillna(value=0)

len(layer5_merged)

257

In [11]:
layer5_merged.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,layer4-alexa-rankings,layer5-discrete-categories-data-laws
0,Afghanistan,AF,AFG,4,47.0,0.0
1,Albania,AL,ALB,8,46.0,0.0
2,Algeria,DZ,DZA,12,48.0,0.0
3,American Samoa,AS,ASM,16,NaN,0.0
4,Andorra,AD,AND,20,NaN,0.0

## Merge layer2 (IPv6 adoption percentages) in

In [12]:
ipv6_adoption = pd\
    .read_csv('ipv4-to-ipv6-transition/data/ipv6-adoption.csv')\
    .rename(columns={
        'ISO-3166-1 Alpha2 code': 'Alpha-2 code',
        ' IPv6 adoption percent': 'layer2-ipv6-adoption'
    })\
    .drop(columns=[' Country name'])

In [13]:
layer2_merged =\
    layer5_merged\
        .merge(ipv6_adoption, how='left')

In [14]:
len(layer2_merged)

257

In [15]:
layer2_merged[layer2_merged['Alpha-2 code']=='DE']

,Country,Alpha-2 code,Alpha-3 code,Numeric code,layer4-alexa-rankings,layer5-discrete-categories-data-laws,layer2-ipv6-adoption
83,Germany,DE,DEU,276,47.0,22.0,45.38

## Merge layer3 (network interference events) in

In [16]:
layer3 = pd\
    .read_csv('network-interference-events/data/rates_01-01-2019_12-31-2019.csv')\
    .drop(columns={
        'num_anomaly',
        'num_confirmed_interference',
        'num_no_confirmed_interference',
#         'loose_rate',
        'strict_rate',
    })\
    .rename(columns={
        'country_code': "Alpha-2 code",
#         'strict_rate': 'layer3-network-interference-rate'
        'loose_rate': 'layer3-network-interference-rate'
    })
    
layer3.head()

   Unnamed: 0 Alpha-2 code  layer3-network-interference-rate
0           0          NaN                          0.020985
1           1           UZ                          0.013457
2           2           CH                          0.075223
3           3           LA                          0.007225
4           4           PW                          0.000000

In [17]:
layer3_merged = layer2_merged.merge(layer3, how='left')

In [18]:
len(layer3_merged)

257

# Write the final CSV
This CSV file should contain all layer metrics associated with countries and country codes

In [19]:
layer3_merged.sort_values(by="layer3-network-interference-rate", ascending=False)

,Country,Alpha-2 code,Alpha-3 code,Numeric code,layer4-alexa-rankings,layer5-discrete-categories-data-laws,layer2-ipv6-adoption,Unnamed: 0,layer3-network-interference-rate
238,Ukraine,UA,UKR,804,48.0,0.0,2.22,142.0,0.669303
185,Réunion,RE,REU,638,NaN,0.0,25.06,129.0,0.434556
19,Belarus,BY,BLR,112,49.0,0.0,0.03,163.0,0.387808
160,Netherlands,NL,NLD,528,46.0,12.0,19.61,189.0,0.351675
28,Botswana,BW,BWA,72,46.0,0.0,0.00,158.0,0.322279
66,Egypt,EG,EGY,818,47.0,0.0,2.06,12.0,0.298053
104,Indonesia,ID,IDN,360,49.0,25.0,0.37,231.0,0.291338
170,Norway,NO,NOR,578,45.0,12.0,11.66,37.0,0.257585
45,China,CN,CHN,156,50.0,36.0,1.37,128.0,0.255561
181,Poland,PL,POL,616,46.0,15.0,11.44,214.0,0.251749
103,India,IN,IND,356,46.0,32.0,40.57,23.0,0.244438
39,Canada,CA,CAN,124,47.0,21.0,23.18,40.0,0.235827
70,Estonia,EE,EST,233,48.0,11.0,25.90,217.0,0.196512
44,Chile,CL,CHL,152,48.0,15.0,0.10,90.0,0.189480
30,Brazil,BR,BRA,76,47.0,27.0,29.34,76.0,0.182254
83,Germany,DE,DEU,276,47.0,22.0,45.38,99.0,0.170756
105,"Iran, Islamic Republic of",IR,IRN,364,NaN,0.0,0.17,212.0,0.155655
76,France,FR,FRA,250,46.0,21.0,37.85,49.0,0.137345
200,Saudi Arabia,SA,SAU,682,48.0,0.0,15.69,47.0,0.120307
101,Hungary,HU,HUN,348,46.0,14.0,24.16,220.0,0.117141
113,Jersey,JE,JEY,832,NaN,0.0,0.32,75.0,0.116667
187,Russian Federation,RU,RUS,643,NaN,0.0,4.02,190.0,0.116538
188,Russia,RU,RUS,643,50.0,29.0,4.02,190.0,0.116538
172,Pakistan,PK,PAK,586,46.0,20.0,0.07,79.0,0.108137
121,Kuwait,KW,KWT,414,46.0,0.0,0.00,146.0,0.106363
241,United States,US,USA,840,46.0,0.0,35.87,207.0,0.105170
127,Liberia,LR,LBR,430,48.0,0.0,0.29,44.0,0.098513
239,United Arab Emirates,AE,ARE,784,48.0,0.0,17.67,63.0,0.097810
36,Burundi,BI,BDI,108,47.0,0.0,0.00,29.0,0.095093
114,Jordan,JO,JOR,400,48.0,0.0,0.75,137.0,0.093559
...,...,...,...,...,...,...,...,...,...
94,Guinea-Bissau,GW,GNB,624,NaN,0.0,0.00,179.0,0.000000
208,Solomon Islands,SB,SLB,90,NaN,0.0,0.00,122.0,0.000000
49,Comoros,KM,COM,174,NaN,0.0,0.00,125.0,0.000000
158,Nauru,NR,NRU,520,NaN,0.0,0.00,88.0,0.000000
89,Guadeloupe,GP,GLP,312,47.0,0.0,24.54,199.0,0.000000
117,Kiribati,KI,KIR,296,NaN,0.0,0.00,16.0,0.000000
149,Monaco,MC,MCO,492,NaN,0.0,0.30,151.0,0.000000
147,"Micronesia, Federated States of",FM,FSM,583,NaN,0.0,0.00,176.0,0.000000
11,Aruba,AW,ABW,533,NaN,0.0,0.00,116.0,0.000000
194,Saint Vincent and the Grenadines,VC,VCT,670,NaN,0.0,0.00,135.0,0.000000
7,Antarctica,AQ,ATA,10,NaN,0.0,0.00,NaN,NaN
29,Bouvet Island,BV,BVT,74,NaN,0.0,0.00,NaN,NaN
46,Christmas Island,CX,CXR,162,NaN,0.0,0.00,NaN,NaN
47,Cocos (Keeling) Islands,CC,CCK,166,NaN,0.0,0.00,NaN,NaN
72,Falkland Islands (Malvinas),FK,FLK,238,NaN,0.0,0.00,NaN,NaN
79,French Southern Territories,TF,ATF,260,NaN,0.0,0.00,NaN,NaN
97,Heard Island and McDonald Islands,HM,HMD,334,NaN,0.0,0.00,NaN,NaN
157,Namibia,NA,NAM,516,47.0,0.0,NaN,NaN,NaN
161,Netherlands Antilles,AN,ANT,530,NaN,0.0,0.00,NaN,NaN
167,Niue,NU,NIU,570,NaN,0.0,0.00,NaN,NaN
168,Norfolk Island,NF,NFK,574,NaN,0.0,0.00,NaN,NaN
169,Northern Mariana Islands,MP,MNP,580,NaN,0.0,0.00,NaN,NaN
180,Pitcairn,PN,PCN,612,NaN,0.0,0.00,NaN,NaN
190,"Saint Helena, Ascension and Tristan da Cunha",SH,SHN,654,NaN,0.0,0.00,NaN,NaN
198,San Marino,SM,SMR,674,NaN,0.0,0.00,NaN,NaN
211,South Georgia and the South Sandwich Islands,GS,SGS,239,NaN,0.0,0.00,NaN,NaN
216,Svalbard and Jan Mayen,SJ,SJM,744,NaN,0.0,0.00,NaN,NaN
228,Tokelau,TK,TKL,772,NaN,0.0,0.00,NaN,NaN
242,United States Minor Outlying Islands,UM,UMI,581,NaN,0.0,0.00,NaN,NaN
253,Western Sahara,EH,ESH,732,NaN,0.0,0.00,NaN,NaN

In [20]:
layer3_merged.to_csv('output/2019-layer-scores.csv')