In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

First, we'll start with a list of country names, ISO-3166 2- and 3- letter codes.

In [2]:
countries =\
pd.read_csv('shared/data/country-codes/countries_codes_and_coordinates.csv')\
    .drop(columns=['Latitude (average)', 'Longitude (average)'])
# remove extraneous quotes
countries['Alpha-2 code'] = countries['Alpha-2 code'].apply(lambda x: x.split("\"")[1])
countries['Alpha-3 code'] = countries['Alpha-3 code'].apply(lambda x: x.split("\"")[1])
countries['Numeric code'] = countries['Numeric code'].apply(lambda x: x.split("\"")[1])

In [3]:
countries.head()

          Country Alpha-2 code Alpha-3 code Numeric code
0     Afghanistan           AF          AFG            4
1         Albania           AL          ALB            8
2         Algeria           DZ          DZA           12
3  American Samoa           AS          ASM           16
4         Andorra           AD          AND           20

In [4]:
len(countries)

257

## Merge layer4 (alexa rankings) in

In [5]:
home_bias = pd\
    .read_csv('home-bias/analysis/levenshtein_from_global_ranking-2019-11-04.csv')\
    .rename(columns={
        'country': 'Country',
        'levenshtein_from_global_ranking': 'layer4-alexa-rankings',
    })\
    .drop(columns=['Unnamed: 0'])

home_bias.columns

Index(['Country', 'layer4-alexa-rankings'], dtype='object')

In [6]:
# Manually fix country names
home_bias.loc[home_bias['Country']=='Laos', 'Country'] = "Lao People's Democratic Republic"
home_bias.iloc[86]

Country                  Lao People's Democratic Republic
layer4-alexa-rankings                                  47
Name: 86, dtype: object

In [7]:
layer4_merged =\
    countries.merge(home_bias, how='left')

layer4_merged.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,layer4-alexa-rankings
0,Afghanistan,AF,AFG,4,47.0
1,Albania,AL,ALB,8,46.0
2,Algeria,DZ,DZA,12,48.0
3,American Samoa,AS,ASM,16,NaN
4,Andorra,AD,AND,20,NaN

In [8]:
len(layer4_merged) #.groupby('Alpha-2 code').sum()

257

## Merge layer5 (data laws) in

In [9]:
data_laws = pd\
    .read_csv('data-locality-laws/analysis/categories-of-discrete-data-laws-on-books-2019-11-07.csv')\
    .rename(columns={'Discrete categories of data laws': 'layer5-discrete-categories-data-laws'})

data_laws.Country = data_laws.Country.apply(lambda x: x.capitalize())
data_laws.head()

     Country  layer5-discrete-categories-data-laws
0  Argentina                                    21
1  Australia                                    21
2    Austria                                    12
3    Belgium                                    12
4     Brazil                                    27

In [10]:
layer5_merged =\
    layer4_merged\
        .merge(data_laws, how='left')\

layer5_merged['layer5-discrete-categories-data-laws'] =\
    layer5_merged['layer5-discrete-categories-data-laws'].fillna(value=0)

len(layer5_merged)

257

In [11]:
layer5_merged.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,layer4-alexa-rankings,layer5-discrete-categories-data-laws
0,Afghanistan,AF,AFG,4,47.0,0.0
1,Albania,AL,ALB,8,46.0,0.0
2,Algeria,DZ,DZA,12,48.0,0.0
3,American Samoa,AS,ASM,16,NaN,0.0
4,Andorra,AD,AND,20,NaN,0.0

## Merge layer2 (IPv6 adoption percentages) in

In [12]:
ipv6_adoption = pd\
    .read_csv('ipv4-to-ipv6-transition/data/ipv6-adoption.csv')\
    .rename(columns={
        'ISO-3166-1 Alpha2 code': 'Alpha-2 code',
        ' IPv6 adoption percent': 'layer2-ipv6-adoption'
    })\
    .drop(columns=[' Country name'])

In [13]:
layer2_merged =\
    layer5_merged\
        .merge(ipv6_adoption, how='left')

In [14]:
len(layer2_merged)

257

In [15]:
layer2_merged[layer2_merged['Alpha-2 code']=='DE']

,Country,Alpha-2 code,Alpha-3 code,Numeric code,layer4-alexa-rankings,layer5-discrete-categories-data-laws,layer2-ipv6-adoption
83,Germany,DE,DEU,276,47.0,22.0,45.38

## Merge layer3 (network interference events) in

In [16]:
layer3 = pd\
    .read_csv('network-interference-events/data/interference-measurements-by-country-2019-sanity.csv')\
    .drop(columns={
        'num_anomaly',
        'num_confirmed_interference',
        'num_no_confirmed_interference',
#         'loose_rate',
        'strict_rate',
    })\
    .rename(columns={
        'country_code': "Alpha-2 code",
#         'strict_rate': 'layer3-network-interference-rate'
        'loose_rate': 'layer3-network-interference-rate'
    })
    
layer3.head()

  Alpha-2 code  layer3-network-interference-rate
0           AD                          0.000000
1           AE                          0.149814
2           AF                          0.027300
3           AG                          0.025000
4           AI                          0.000000

In [17]:
layer3_merged = layer2_merged.merge(layer3, how='left')

In [18]:
len(layer3_merged)

257

# Write the final CSV
This CSV file should contain all layer metrics associated with countries and country codes

In [19]:
layer3_merged.sort_values(by="layer3-network-interference-rate", ascending=False)

,Country,Alpha-2 code,Alpha-3 code,Numeric code,layer4-alexa-rankings,layer5-discrete-categories-data-laws,layer2-ipv6-adoption,layer3-network-interference-rate
238,Ukraine,UA,UKR,804,48.0,0.0,2.22,0.677461
185,Réunion,RE,REU,638,NaN,0.0,25.06,0.458152
19,Belarus,BY,BLR,112,49.0,0.0,0.03,0.378002
160,Netherlands,NL,NLD,528,46.0,12.0,19.61,0.347028
28,Botswana,BW,BWA,72,46.0,0.0,0.00,0.329746
104,Indonesia,ID,IDN,360,49.0,25.0,0.37,0.297416
44,Chile,CL,CHL,152,48.0,15.0,0.10,0.292924
170,Norway,NO,NOR,578,45.0,12.0,11.66,0.283267
66,Egypt,EG,EGY,818,47.0,0.0,2.06,0.277223
103,India,IN,IND,356,46.0,32.0,40.57,0.272668
181,Poland,PL,POL,616,46.0,15.0,11.44,0.266883
39,Canada,CA,CAN,124,47.0,21.0,23.18,0.249730
45,China,CN,CHN,156,50.0,36.0,1.37,0.238782
70,Estonia,EE,EST,233,48.0,11.0,25.90,0.204358
200,Saudi Arabia,SA,SAU,682,48.0,0.0,15.69,0.183966
105,"Iran, Islamic Republic of",IR,IRN,364,NaN,0.0,0.17,0.183379
30,Brazil,BR,BRA,76,47.0,27.0,29.34,0.168204
83,Germany,DE,DEU,276,47.0,22.0,45.38,0.168072
176,Papua New Guinea,PG,PNG,598,47.0,0.0,0.00,0.166667
239,United Arab Emirates,AE,ARE,784,48.0,0.0,17.67,0.149814
188,Russia,RU,RUS,643,50.0,29.0,4.02,0.146166
187,Russian Federation,RU,RUS,643,NaN,0.0,4.02,0.146166
76,France,FR,FRA,250,46.0,21.0,37.85,0.141892
127,Liberia,LR,LBR,430,48.0,0.0,0.29,0.133768
121,Kuwait,KW,KWT,414,46.0,0.0,0.00,0.120678
27,Bosnia and Herzegovina,BA,BIH,70,48.0,0.0,5.27,0.112649
172,Pakistan,PK,PAK,586,46.0,20.0,0.07,0.107828
114,Jordan,JO,JOR,400,48.0,0.0,0.75,0.101127
241,United States,US,USA,840,46.0,0.0,35.87,0.099775
58,Cyprus,CY,CYP,196,48.0,10.0,0.09,0.096797
...,...,...,...,...,...,...,...,...
89,Guadeloupe,GP,GLP,312,47.0,0.0,24.54,0.000000
165,Niger,NE,NER,562,48.0,0.0,0.00,0.000000
63,Dominica,DM,DMA,212,NaN,0.0,0.00,0.000000
162,New Caledonia,NC,NCL,540,47.0,0.0,0.08,0.000000
194,Saint Vincent and the Grenadines,VC,VCT,670,NaN,0.0,0.00,0.000000
145,Mayotte,YT,MYT,175,48.0,0.0,45.39,0.000000
3,American Samoa,AS,ASM,16,NaN,0.0,0.00,NaN
7,Antarctica,AQ,ATA,10,NaN,0.0,0.00,NaN
29,Bouvet Island,BV,BVT,74,NaN,0.0,0.00,NaN
46,Christmas Island,CX,CXR,162,NaN,0.0,0.00,NaN
47,Cocos (Keeling) Islands,CC,CCK,166,NaN,0.0,0.00,NaN
52,Cook Islands,CK,COK,184,NaN,0.0,0.00,NaN
72,Falkland Islands (Malvinas),FK,FLK,238,NaN,0.0,0.00,NaN
79,French Southern Territories,TF,ATF,260,NaN,0.0,0.00,NaN
97,Heard Island and McDonald Islands,HM,HMD,334,NaN,0.0,0.00,NaN
118,"Korea, Democratic People's Republic of",KP,PRK,408,NaN,0.0,0.00,NaN
157,Namibia,NA,NAM,516,47.0,0.0,NaN,NaN
161,Netherlands Antilles,AN,ANT,530,NaN,0.0,0.00,NaN
167,Niue,NU,NIU,570,NaN,0.0,0.00,NaN
168,Norfolk Island,NF,NFK,574,NaN,0.0,0.00,NaN
169,Northern Mariana Islands,MP,MNP,580,NaN,0.0,0.00,NaN
180,Pitcairn,PN,PCN,612,NaN,0.0,0.00,NaN
190,"Saint Helena, Ascension and Tristan da Cunha",SH,SHN,654,NaN,0.0,0.00,NaN
198,San Marino,SM,SMR,674,NaN,0.0,0.00,NaN
211,South Georgia and the South Sandwich Islands,GS,SGS,239,NaN,0.0,0.00,NaN
216,Svalbard and Jan Mayen,SJ,SJM,744,NaN,0.0,0.00,NaN
228,Tokelau,TK,TKL,772,NaN,0.0,0.00,NaN
236,Tuvalu,TV,TUV,798,NaN,0.0,0.00,NaN
242,United States Minor Outlying Islands,UM,UMI,581,NaN,0.0,0.00,NaN
253,Western Sahara,EH,ESH,732,NaN,0.0,0.00,NaN

In [20]:
layer3_merged.to_csv('output/2019-layer-scores.csv')