In [315]:
import pandas as pd
import numpy as np

In [316]:
# %load ../helpers.py
import datetime
import json

def dated_filename (fn, ext='.csv'):
    today = datetime.date.today()
    return '{}-{}{}'.format(fn, today, ext)

def load_json (fn):
    with open(fn, 'r') as myfile:
        data=myfile.read()
    return json.loads(data)

In [317]:
ooni_observations = pd.read_csv('data/ooni-observations-2019-06-20.csv')

In [352]:
counts = ooni_observations.groupby('probe_cc').count()
counts[counts.index=='GF']

,Unnamed: 0,download_url,index,probe_asn,test_name,test_start_time
probe_cc,,,,,,
GF,1,1,1,1,1,1

NOTE: We may not see every country on every reading. That's okay. The countries we *do* see will still be more or less similar to each other. By increasing our "net" (scrape size), we can increase our statistical power.

In [353]:
users_by_country = pd.read_csv('../shared/analysis/internet-users-by-country/internet-users-country-2019-06-20.csv')
users_by_country.head()

   Unnamed: 0 Country Code Country Name  people-online
0           0          ABW        Aruba   1.022850e+07
1           1          AFG  Afghanistan   4.067373e+08
2           2          AGO       Angola   4.270779e+08
3           3          ALB      Albania   2.064494e+08
4           4          AND      Andorra   7.609640e+06

In [320]:
country_codes = pd.read_csv('../shared/data/country-codes/countries_codes_and_coordinates.csv')

In [354]:
def alpha2_from_alpha3 (alpha3):
    code = country_codes[country_codes['Alpha-3 code'].str.contains(alpha3)]['Alpha-2 code']
    return code.values[0].split('"')[1]

def alpha3_from_alpha2 (alpha2):
    code = country_codes[country_codes['Alpha-2 code'].str.contains(alpha2)]['Alpha-3 code']
    return code.values[0].split('"')[1]

# alpha2_from_alpha3('ABW')
alpha3_from_alpha2('GF')

'GUF'

In [380]:
pd.isnull(users_by_country[users_by_country['Country Code']=='GUF'])

Empty DataFrame
Columns: [Unnamed: 0, Country Code, Country Name, people-online]
Index: []

In [404]:
results = []
for alpha2, count in counts.iterrows():
    num_incidents = count[0]
    # ignore readings from unknown countries
    if alpha2 != 'ZZ' and alpha2 != 'EU' and pd.notna(alpha2)\
        and alpha2 != 'GF' and alpha2 != 'GP' and alpha2 != 'MQ' and alpha2 != 'RE' and alpha2 != 'TW': 
        # also we have no population info for a few countries
        alpha3 = alpha3_from_alpha2(alpha2)
        reading = users_by_country[users_by_country['Country Code']==alpha3]
        people_online = reading['people-online'].values[0]
        interference_incidents_weighted = num_incidents/people_online
        results += [{
            'country': reading['Country Name'].values[0],
            'alpha-2': alpha2, 
            'interference-incidents-weighted': interference_incidents_weighted,
        }]
        
results = pd.DataFrame(results)

In [405]:
results.to_csv(dated_filename('analysis/interference-incidents-weighted-by-num-internet-users'))

In [406]:
results.sort_values(by='interference-incidents-weighted')

    alpha-2                 country  interference-incidents-weighted
156      VN                 Vietnam                     1.266926e-09
32       CN                   China                     1.487754e-09
127      RS                  Serbia                     2.025182e-09
160      ZM                  Zambia                     2.100330e-09
96       MM                 Myanmar                     3.664540e-09
129      RW                  Rwanda                     3.762962e-09
131      SD                   Sudan                     3.995921e-09
161      ZW                Zimbabwe                     4.472026e-09
75       JP                   Japan                     4.686926e-09
67       IE                 Ireland                     4.918468e-09
80       KR             Korea, Rep.                     6.129593e-09
111      NP                   Nepal                     6.377248e-09
10       BD              Bangladesh                     6.740023e-09
107      NG                 Nigeria                     7.191629e-09
118      PH             Philippines                     7.935462e-09
69       IN                   India                     8.800307e-09
13       BG                Bulgaria                     8.914910e-09
1        AF             Afghanistan                     9.834358e-09
38       CY                  Cyprus                     1.049971e-08
31       CM                Cameroon                     1.075042e-08
85       LK               Sri Lanka                     1.093603e-08
56       GH                   Ghana                     1.190108e-08
29       CI           Cote d'Ivoire                     1.220566e-08
94       MK         North Macedonia                     1.258099e-08
153      UY                 Uruguay                     1.271048e-08
97       MN                Mongolia                     1.371052e-08
73       JM                 Jamaica                     1.418524e-08
9        BA  Bosnia and Herzegovina                     1.641318e-08
143      TH                Thailand                     1.643148e-08
66       ID               Indonesia                     1.653973e-08
..      ...                     ...                              ...
141      SY    Syrian Arab Republic                     1.374230e-07
79       KM                 Comoros                     1.449174e-07
70       IQ                    Iraq                     1.550892e-07
128      RU      Russian Federation                     1.616145e-07
99       MR              Mauritania                     1.631426e-07
44       DZ                 Algeria                     1.735595e-07
87       LU              Luxembourg                     1.885559e-07
90       MA                 Morocco                     1.889138e-07
114      PA                  Panama                     1.897412e-07
125      QA                   Qatar                     1.935184e-07
158      YE             Yemen, Rep.                     1.987269e-07
37       CW                 Curacao                     2.018631e-07
152      US           United States                     2.054642e-07
98       MO        Macao SAR, China                     2.124313e-07
146      TN                 Tunisia                     2.249884e-07
134      SI                Slovenia                     2.760602e-07
14       BI                 Burundi                     2.961409e-07
35       CU                    Cuba                     2.996722e-07
12       BF            Burkina Faso                     3.314539e-07
137      SO                 Somalia                     3.384698e-07
23       BZ                  Belize                     3.401174e-07
145      TM            Turkmenistan                     3.514081e-07
138      SR                Suriname                     3.626367e-07
89       LY                   Libya                     4.902499e-07
139      ST   Sao Tome and Principe                     4.905361e-07
157      WS                   Samoa                     6.058281e-07
42       DM                Dominica                     7.772070e-07
91       MC                  Monaco                     7.988358e-07
63       HR                 Croatia                     1.915153e-06
7        AU               Australia                     2.928853e-06

[162 rows x 3 columns]