In [1]:
import pandas as pd
import numpy as np

In [2]:
# %load ../helpers.py
import datetime
import json

def dated_filename (fn, ext='.csv'):
    today = datetime.date.today()
    return '{}-{}{}'.format(fn, today, ext)

def load_json (fn):
    with open(fn, 'r') as myfile:
        data=myfile.read()
    return json.loads(data)

# Load OONI observations

Count the number of incidents by country

In [3]:
ooni_observations = pd.read_csv('data/ooni-observations-2019-06-20.csv')

In [4]:
counts = ooni_observations.groupby('probe_cc').count()
counts.head()

,Unnamed: 0,download_url,index,probe_asn,test_name,test_start_time
probe_cc,,,,,,
AD,1,1,1,1,1,1
AE,99,99,99,99,99,99
AF,7,7,7,7,7,7
AG,1,1,1,1,1,1
AL,28,28,28,28,28,28

NOTE: We may not see every country on every reading. That's okay. The countries we *do* see will still be more or less similar to each other. By increasing our "net" (scrape size), we can increase our statistical power.

# Incidents per online users

We'll find the number of interference incidents per estimated users online in a country.

First, let's find how many users are online in country.

In [5]:
users_by_country = pd.read_csv('../shared/analysis/internet-users-by-country/internet-users-country-2019-06-20.csv')
users_by_country.head()

   Unnamed: 0 Country Code Country Name  people-online
0           0          ABW        Aruba   1.022850e+07
1           1          AFG  Afghanistan   4.067373e+08
2           2          AGO       Angola   4.270779e+08
3           3          ALB      Albania   2.064494e+08
4           4          AND      Andorra   7.609640e+06

## Convert from alpha2 to alpha3

OONI uses the alpha2 standard, and our population dataaset uses the alpha3 standard. We'll convert to make comparsions.

In [6]:
country_codes = pd.read_csv('../shared/data/country-codes/countries_codes_and_coordinates.csv')

In [9]:
def alpha2_from_alpha3 (alpha3):
    code = country_codes[country_codes['Alpha-3 code'].str.contains(alpha3)]['Alpha-2 code']
    return code.values[0].split('"')[1]

def alpha3_from_alpha2 (alpha2):
    code = country_codes[country_codes['Alpha-2 code'].str.contains(alpha2)]['Alpha-3 code']
    return code.values[0].split('"')[1]

alpha2_from_alpha3('ABW')

'AW'

## Find incidents per person online

Finally, we'll go through our counts of interference incidents per country, and divide that count by the approximate number of people online in that country.

In [12]:
results = []
for alpha2, count in counts.iterrows():
    num_incidents = count[0]
    # ignore readings from unknown countries
    if alpha2 != 'ZZ' and alpha2 != 'EU' and pd.notna(alpha2)\
        and alpha2 != 'GF' and alpha2 != 'GP' and alpha2 != 'MQ' and alpha2 != 'RE' and alpha2 != 'TW' and alpha2 != 'SS': 
        # also we have no population info for a few countries
        alpha3 = alpha3_from_alpha2(alpha2)
        reading = users_by_country[users_by_country['Country Code']==alpha3]
        people_online = reading['people-online'].values[0]
        interference_incidents_weighted = num_incidents/people_online
        results += [{
            'country': reading['Country Name'].values[0],
            'alpha-2': alpha2, 
            'interference-incidents-weighted': interference_incidents_weighted,
        }]
        
results = pd.DataFrame(results)

In [13]:
results.to_csv(dated_filename('analysis/interference-incidents-weighted-by-num-internet-users'))

In [14]:
results.sort_values(by='interference-incidents-weighted')

    alpha-2                 country  interference-incidents-weighted
36       CN                   China                     3.692819e-09
17       BH                 Bahrain                     6.987819e-09
105      MM                 Myanmar                     8.550593e-09
167      VN                 Vietnam                     8.657330e-09
172      ZW                Zimbabwe                     8.944052e-09
145      SL            Sierra Leone                     9.996572e-09
136      RS                  Serbia                     1.012591e-08
42       CY                  Cyprus                     1.049971e-08
171      ZM                  Zambia                     1.050165e-08
82       JP                   Japan                     1.197770e-08
87       KR             Korea, Rep.                     1.266783e-08
116      NG                 Nigeria                     1.343699e-08
140      SD                   Sudan                     1.598369e-08
2        AF             Afghanistan                     1.721013e-08
93       LK               Sri Lanka                     1.777105e-08
138      RW                  Rwanda                     1.881481e-08
103      MK         North Macedonia                     1.887148e-08
76       IN                   India                     1.905288e-08
127      PH             Philippines                     2.031478e-08
152      TD                    Chad                     2.065050e-08
120      NP                   Nepal                     2.232037e-08
101      ME              Montenegro                     2.254386e-08
13       BD              Bangladesh                     2.392708e-08
11       BA  Bosnia and Herzegovina                     2.461976e-08
130      PR             Puerto Rico                     2.480334e-08
33       CI           Cote d'Ivoire                     2.535021e-08
60       GH                   Ghana                     2.837950e-08
121      NZ             New Zealand                     2.986177e-08
154      TH                Thailand                     3.039824e-08
35       CM                Cameroon                     3.045951e-08
..      ...                     ...                              ...
153      TG                    Togo                     2.593865e-07
77       IQ                    Iraq                     2.614815e-07
55       FJ                    Fiji                     2.652247e-07
26       BY                 Belarus                     2.659059e-07
66       GW           Guinea-Bissau                     2.733813e-07
134      QA                   Qatar                     2.843536e-07
123      PA                  Panama                     2.909366e-07
18       BI                 Burundi                     3.125932e-07
108      MR              Mauritania                     3.154091e-07
137      RU      Russian Federation                     3.189495e-07
27       BZ                  Belize                     3.401174e-07
169      YE             Yemen, Rep.                     3.510842e-07
143      SI                Slovenia                     3.742150e-07
15       BF            Burkina Faso                     3.872432e-07
98       MA                 Morocco                     3.950428e-07
163      US           United States                     4.068405e-07
48       DZ                 Algeria                     4.328838e-07
157      TN                 Tunisia                     4.515392e-07
148      SR                Suriname                     4.714277e-07
39       CU                    Cuba                     5.372822e-07
168      WS                   Samoa                     6.058281e-07
156      TM            Turkmenistan                     6.129212e-07
149      ST   Sao Tome and Principe                     6.540481e-07
46       DM                Dominica                     7.772070e-07
99       MC                  Monaco                     7.988358e-07
97       LY                   Libya                     9.156138e-07
147      SO                 Somalia                     9.815624e-07
70       HR                 Croatia                     2.648692e-06
92       LI           Liechtenstein                     2.956871e-06
9        AU               Australia                     4.933868e-06

[173 rows x 3 columns]